<launch>
    <arg name="load_gripper" default="true"/>
    <arg name="node_start_delay" default="1.0"/>


    <include file="$(find panda_hardware_helper)/launch/panda.launch">
      <arg name="load_gripper" value="$(arg load_gripper)" />
    </include>
    
    <rosparam command="load" file="$(find my_panda_controllers)/config/my_panda_controllers_configuration.yaml" subst_value="true"/>


    <node name="controller_unspawner" pkg="controller_manager" type="unspawner" respawn="false" output="screen" args="position_joint_trajectory_controller" />
    <node name="cart_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="my_cartesian_velocity_controller" launch_prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' " />


    <!-- rostopic pub /my_cartesian_velocity_controller/my_velocities my_panda_controllers/MyVelocity "header:
  seq: 0
  stamp: {secs: 0, nsecs: 0}
  frame_id: ''
vel: [0.00, 0.0, 0.0, 0.0, 0.0, 0.0]" -->

</launch>

